/*
 * Globals
*/

h1 {
    font-size: 16px;
    font-family: 'Coustard', serif;
}

h2 {
    font-size:14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.lead {
    font-size:12px;
    margin-bottom: 10px;
}

p {
    font-size: 9px;
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/*
 * Base structure
*/

html,
body {
    height: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    font-family: 'Lato', sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.fullscreen-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.fullscreen-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}


/* gallery */
.gallery {
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}

.gallery + div {
    position: absolute;
    top: 0%;
}

#why .gallery .item {
    top: 200%;
}

#why .gallery + div {
    position: absolute;
    top: 200%;
}

#meetthecreators .gallery .item {
    top: 400%;
}

#meetthecreators .gallery + div {
    position: absolute;
    top: 400%;
}

.gallery .item span {
    display: block;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.gallery .item:first-of-type {
    position: absolute;
}

.gallery .item .img-1 {
    background-image: url('img/001.jpg');
}

.gallery .item .img-2 {
    background-image: url('img/002.jpg');
}

.gallery .item .img-3 {
    background-image: url('img/003.jpg');
}

.gallery .item .img-4 {
    background-image: url('img/004.jpg');
}

.gallery .item .img-5 {
    background-image: url('img/005.jpg');
}

.gallery .item .img-6 {
    background-image: url('img/006.jpg');
}

.gallery .item .img-7 {
    background-image: url('img/007.jpg');
}

.gallery .item .img-8 {
    background-image: url('img/008.jpg');
}

.gallery .item .img-9 {
    background-image: url('img/009.jpg');
}

.gallery .item .img-10 {
    background-image: url('img/010.jpg');
}

.gallery .item .img-11 {
    background-image: url('img/011.jpg');
}

.gallery .item .img-12 {
    background-image: url('img/012.jpg');
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav {
    background-color: #70708f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width:250px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 30px;
    font-weight: bold;
    color: #fcc34c;
    outline: 0;
    line-height: 12px;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    color: #f35958;
    background-color: transparent;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #f35958;
}

.masthead-nav .tooltip {
    left: -32px;
    top: 50px;
    width: 80px;
    opacity: 0;
}

.masthead-nav > li > a:hover + .tooltip {
    opacity: 1;
}

.masthead-nav .tooltip-inner {
    background-color: #7bc156;
}
.masthead-nav .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #7bc156;
}

#why a:hover + .tooltip {
    opacity: 1;
}

.action-button {
    clear: both;
    padding-bottom: 5px;
    padding-top: 10px;
}

#top .action-button {
    border-top: 1px solid #1a6a80;
}

#whatsitlike .action-button {
    border-top: 1px solid #fff;
}

#why .action-button {
    border-top: 1px solid #64eacf;
}

.action-button a{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 12px;
}

.action-button a:hover,
.action-button a:focus{
    background-color: #f35958;
}

.more {
    background: none repeat scroll 0 0 #fcc34c;
    border-radius: 50%;
    font-size: 18px;
    font-weight: normal;
    height: 34px;
    left: 50%;
    line-height: 34px;
    margin: 0 0 0 -17px;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 34px;
}

#whatsitlike .more {
    background-color: #70708f;
}

.more:hover,
.more:focus,
#whatsitlike .more:hover{
    background-color: #f35958;
}

.more span {
    position: relative;
    top: 4px;
    left: -1px;
}

.band.logo {
    background-color: #228ba9;
}

#why .band {
    background-color: #1abc9c;
}

#meetthecreators .band {
    background-color: #61487a;
}

.fullscreen-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.fullscreen-inner {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

h1.logo,
p.logo {
    text-align: left;
    padding-top: 10px;
    max-width: 160px;
}

img.logo {
    width: 120px;
    padding: 10px;
    padding-top:30px;
}

#whatsitlike .fullscreen-wrapper-inner {
    background-color: #333341;
}

img.big-icon {
    width: 40px;
}

.modal-dialog{
    margin: 20% auto;
}

.modal-content{
    background-color: #5bc0de;
}

.modal-content .btn {
    background-color: #228ba9;
    margin-top: 20px;
}

.modal-header {
    border:none;
}

#howtoplay {
    color: #424254;
    background-color: #ececf0;
}

#howtoplay .big-icon {
    float: left;
}

#howtoplay .extra{
    display:none;
}
/*
 * Affix and center
*/

@media (min-width: 768px) {

    /* Start the vertical centering */
    .fullscreen-wrapper-inner {
        vertical-align: middle;
    }

    .fullscreen-container {
        width: 800px;
    }

    img.logo {
        width: 180px;
        padding: 25px;
    }

    h1 {
        font-size: 25px;
    }

    h1.logo,
    p.logo {
        padding-top: 10px;
        max-width: none;
    }

    h2 {
        font-size:18px;
    }

    .lead {
        font-size: 14px;
    }

.action-button {
    padding-bottom: 25px;
    padding-top: 25px;
}

.action-button a {
    font-size: 16px;
}
    .more {
        height: 53px;
        line-height: 53px;
        margin: 0 0 0 -26.5px;
        width: 53px;
    }

#howtoplay .big-icon {
    float: none;
}
}

@media (min-width: 992px) {

    img.logo {
        width: 270px;
    }

    h1 {
        font-size: 40px;
    }

    h1.logo,
    p.logo {
        padding-top: 25px;
    }

    h2 {
        font-size:30px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    img.big-icon {
        width: 140px;
    }

    .lead {
        font-size: 20px;
    }

#howtoplay .extra{
    display:inherit;
}

p {
    font-size: 12px;
}
}
